{% extends "base.html.twig" %}

{% block title %}Influentia - ERREUR PAIEMENT{% endblock %}

{% block content %}

<div class="container">
    <h1>La commande a échouée</h1>
    <p>Veuillez réessayer le paiement ici :</p>
</div>
{% endblock %}